<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .desc { color: #666; font-size: 11px; font-style: italic; margin-top: 5px;}
      .message { font-size: 1.3em; font-weight: bold; }
      .message-warning { color: red; }
      .message-success { color: green; }
      input.warning { border-color: red; }
      input.success { border-color: green; }
    </style>
  </head>
<body>
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

    <div class="form-group">
      <input id="lunch-menu" type="text"
      placeholder="list comma separated dishes you usually have for lunch"
      ng-model="food"
      class="form-control {{state}}">
      <p class="desc">Empty items don't count!</p>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
    </div>
    <div class="form-group message message-{{state}}">
      {{message}}
    </div>

    <footer><a href="https://github.com/vargazsolt/coursera-fullstack/archive/master.zip">Download code from Github</a></footer>
  </div>

</body>
</html>
